body {
    background-color: #0b0447;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: none;
}

header, footer {
    width: 100%;
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin: 8px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:before, a:visited {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border: 0px;
    flex-wrap: wrap;
}

p#testimonial {
    font-style: italic;
}

a.button {
    border: 4px;
    margin: 8px;
    padding: 8px;
    background-color: #86aff6;
    color: white;
    border-radius: 12px;
    text-align: center;
    text-overflow: clip;
}

img#rat-in-alley {
    display: flex;
    flex-shrink: 0;
    align-items: right;
    margin-top: 4px;
}

#container-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-two {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86aff6;
    padding: 8px;
    margin: 8px;
}

#container-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-a-room {
    font-size: 24px;
    font-weight: 700px;
}

.members {
    display: flex;
    flex-shrink: auto;
    max-width: 30%;
    max-height: 30%;
    padding: 8px;
    border-radius: 12px;
}